//hero section style
.home-hero {

    background-color: $section-bg-alt-2;



    .home-hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            margin-top: 20px;
            align-self: flex-start;
        }
    }

    .hero-img {
        // background-color: green;

        // display: flex;
        // align-items: end;
        // justify-content: center;

        img {
            object-fit: contain;

            //    max-height: 350px;


        }
    }
}

//small cta style
.home-small-cta {
    background-color: $secondary;

    padding: 20px 0;


}

//services style
.home-services-section {
    background-color: $section-bg-alt-2;
    padding: 100px 0px;



    .home-service-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;

        .home-service-item {

            // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            margin-bottom: 40px;
            padding: 0px 0px 20px 0px;
            width: calc(25% - 20px);

            h4 {
                margin-left: 20px;
                margin-top: 20px;
                font-weight: $bold;
            }

            h5 {
                margin-left: 20px;
                margin-top: 20px;
                font-weight: $bold;
            }

            p {
                margin-left: 20px;
                margin-top: 10px;
            }

            a {

                margin: 20px 0px 10px 20px;
            }

            /* Tablet styles */
            @media (max-width: 768px) {

                width: calc(50% - 20px);

            }

            /* Mobile styles */
            @media (max-width: 480px) {

                width: calc(100% - 20px);

            }





        }
    }

}

//whyus style
.home-whyus-section {

    background-color: $primary;
    padding: 100px 0px;



    .home-whyus-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        p {
            text-align: start;
            color: $light;
        }

        ul {
            margin-top: 20px;
            padding: 0px;

            li {
                i {
                    color: $secondary;
                    margin-right: 8px;
                }

                span {
                    color: $light;
                    font-size: $small-font;
                    line-height: $line-height-base;

                    margin-bottom: 0px;
                }

            }
        }
    }

    .home-whyus-boxes {


        display: flex;
        flex-direction: column;
        align-items: center;



        .home-whyus-box {

            background-color: $primary;
            padding: 30px 30px;
            margin: 20px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

            h3 {
                color: $info;
            }


        }
    }
}

//about style
.home-about-section {
    padding: 100px 0px;

    .home-about-content {


        a {
            margin-top: 20px;
        }
    }
}

//testimonial style
.home-testimonial-section {
    padding: 100px 0px;
    background-color: $section-bg-alt-1;

    .home-testimonial {

        margin-top: 40px;
        background-color: $section-bg-alt-2;
        padding: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .home-testimonial-iconbox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            justify-content: flex-start;
            padding: 20px;

            i {
                font-size: 48px;
                color: $primary;
                margin-right: 20px;
            }

            span {
                line-height: 100%;
                font-size: $small-font;
                font-weight: $bold;
                color: $secondary;
                text-align: start;

            }
        }


    }
}

//cta style
.cta-section {
    padding: 100px 0px;
    background-color: $primary;


    .cta-content {

        color: $light;

        p {
            margin: 20px 0px;

        }
    }
}